footer{
    padding: 20px 50px;
    background: rgb(0, 0, 0);
    a{
        color: #09E8F6;
    }
}



.p1{
    color: #09E8F6;
}


.foterlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}